*{
    margin: 0;
    padding: 0;;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
.menu{
    display: none;
}
.menu img{
    width: 25px;
    height: 25px;
    
}
nav{
    display: flex;
    flex-wrap: wrap;
}
nav li{
    list-style: none;
    padding: 1rem;
}
nav li img{
    width: 20px;
    height: 18px;
    opacity: 0.8;
    color: black;
    display: none;
}

nav li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav li:hover::after{
    width: 100%;
}
nav li a{
    font-size: 20px;
    color: white;
}

nav li i{
    color: #fff;
    font-size: 20px;
}
.logo{
    display: flex;
}
.logo img{
    width: 125px;
    display: inline-block;
}
.header{
    min-height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.info{
    max-width: 50%;
    text-align: center;
    margin: 200px auto;
}
.info h1{
    color: white;
    font-size: 55px;
}
.info p{
    margin: 30px auto;
    font-size: 17px;
    color: white;
    line-height: 1.5;
    padding: 0 100px;
}
.hero-btn{
    color: #fff;
    font-size: 18px;
    background: transparent;
    border: 1px solid #fff;
    padding: 11px;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.courses,.campus,.facilities,.testimonial,.enroll{
    max-width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
    padding: 30px;
}
.courses h2,.campus h2,.facilities h2,.testimonial h2{
    font-size: 35px;
}
.courses p,.campus p,.facilities p,.testimonial p{
    font-size: 17px;
    padding: 10px;
    color: #777;
}
.row-info{
    display: flex;
    max-width: 90%;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
}
.row-1{
    flex-basis: 30%;
    /* min-width: 280px; */
    background: #fff3f3;
    margin: 10px 15px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}
.row-2 img{
    width: 100%;
    display: block;
}
.row-1 h2{
    font-size: 23px;
}
.row-1 p{
    font-size: 17px;
    line-height: 2;
    color: #777;
}
.row-1:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    transition: 0.5s;
}
.row-2{
    flex-basis: 30%;
    /* min-width: 250px; */
    margin: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.layer{
    background: transparent;
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226,0,0,0.7);
}
.layer h3{
    width:100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.row-3{
    flex-basis: 30%;
    /* min-width: 250px; */
    margin: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.row-3 img{
    width: 100%;
}
.row-min-info{
    text-align: left;
    padding: 15px 0;
    line-height: 1.5;
}
.row-min-info h2{
    font-size: 21px;
}
.row-min-info p{
    padding: 10px 0;
    padding-right: 2px;
    padding-bottom: 0;
}
.row-4{
    flex-basis: 45%;
    /* min-width: 240px; */
    margin: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    background: #fff3f3;
    padding: 25px;
}
.row-4 img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.row-4info{
    text-align: left;
    line-height: 1.8;
}
.row-4info p{
    padding: 0 20px;
}
.row-4info h2{
   font-size: 20px;
   padding-left: 20px;
}
.row-4info .rating{
    padding-left: 20px;
}
.row-4info i{
    font-size: 15px;
    color: #f44336;
}
.banner-enroll{
    min-height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('images/banner2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 13px;
   
}
.banner-info{
    color: white;
    padding-top: 150px;
}
.banner-info h2{
    font-size: 30px;
    line-height: 1.6;
}
.banner-info .hero-btn{
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.banner-info .hero-btn a{
    color: white;
}
.footer{
    text-align: center;
    max-width: 50%;
    margin: 60px auto;
}
.footer h2{
    font-size: 25px;
    padding: 30px 0;
}
.footer p{
    font-size: 15px;
    line-height: 1.8;
    color: #777;
}
.icons{
    font-size: 20px;
    margin: 20px 0;
}
.icons i{
    padding: 20px;
    color: #f44336;
    cursor: pointer;
}
/* ------------------about us page----------------------- */
.sub-header{
    height: 55vh;
    max-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('images/background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
}
.info-text{
    margin-top: 50px;
    padding: 0 5px;
}
.info-text h1{
    font-size: 35px;
}
.about-us{
    max-width: 100%;
}
.about-row{
    width: 70%;
    margin: 40px auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.abtrow-1{
    min-width: 250px;
    flex-basis: 50%;
    margin: 15px;
    overflow: hidden;
}
.abtrow-1 h2{
    font-size: 40px;
    line-height: 1.4;
}
.abtrow-1 p{
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 50px;
}
.about-row img{
    width: 100%;
    /* min-height: 500px; */
}
.blog-text{
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin: 60px auto;
}
.blog-row-1{
    max-width: 50%;
    min-width: 300px;
    padding-right: 40px;
}
.blog-row-1 img{
    max-width: 100%;
}
.blog-row-1 h2{
    font-size: 30px;
    margin: 25px 0px;
}
.blog-row-1 p{
    font-size: 17px;
    line-height: 1.8;
    color: #777;
}
.blog-row-2{
    max-width: 80%;
    /* background-color: #f44336; */
    min-width: 300px;
    display: flex;
    flex-direction: column;
}
.blog-table{
    text-align: center;
    background-color: #f44336;
    padding: 3px 0;
    color: #fff;
    font-size: 15px;
}
.blog-tables{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.blog-tables h2{
    display: inline;
    justify-content: space-between;
    font-size: 15px;
    
    color: #777;
}
.comment-table{
    border: 2px solid #777;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}
.comment-table h2{
    font-size: 20px;
    margin: 0;
    padding: 16px;
}
form{
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}
input{
    margin-bottom: 20px;
    height: 30px;
    
    border: none;
}
textarea{
    margin-bottom: 20px;
    padding: 15px;
    background: #f0f0f0;
}
input{
    padding: 16px;
    background: #f0f0f0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  .location{
      max-width: 80%;
      margin: 30px auto;
  }
  .location iframe{
      width: 100%;
  }
  .contact-table{
      max-width: 80%;
      margin: 50px auto;
      display: flex;
  }
  .contact-row{
      flex-basis: 50%;
      min-width: 300px;
  }
  .contact-info{
      display: flex;
      margin-bottom: 20px;
  }
  .contact-info i{
      color: #f44336;
      font-size: 25px;
  }
  .address{
      margin-left: 30px;
  }
  .address h2{
      font-size: 19px;
      font-weight: 200;
  }
  .address p{
      color: #777;
      font-size: 15px;
      padding: 5px 0;
  }
  .im-btn a{
    padding: 11px;
    border: 1px solid #f44336;
    color: #f44336;
    display: inline-block;
    width: 180px;
    text-align: center;
    margin-bottom: 20px;
  }
  .im-btn a:hover{
    color: #fff;
    background: #f44336;
    transition: .5s;
  }
/* ------------------------responsive-------------------- */

@media only screen and (max-width:910px){
    .row-info{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 700px){
    nav li{
        display: block;
    }
    nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        z-index: 2;
        text-align: left;
        transition: 1s;
    }
    nav li img{
        display: inline-block;
    }
    .menu{
        display: inline-block;
    }
    .info{
        max-width: 100%;
        text-align: center;
        margin: 200px auto;
    }
    .info h1{
        color: white;
        font-size: 45px;
    }
    .info p{
        margin: 30px auto;
        font-size: 17px;
        color: white;
        line-height: 1.5;
        padding: 0 100px;
    }
    .about-row{
        flex-direction: column;
        width: 85%;
    }
    .abtrow-1 p{
        margin-top: 30px;
    }
    .footer{
        max-width: 80%;
    }
    .contact-table{
        display: flex;
        flex-direction: column;
    }
    .blog-text{
        display: flex;
        flex-direction: column;
    }
    .blog-row-2{
        margin-top: 30px;
    }
    .banner-info{
        color: white;
        padding-top: 100px;
    }
    .banner-info h2{
        font-size: 27px;
        line-height: 1.4;
    }
}
@media only screen and (max-width: 500px){
   .blog-row-1{
       max-width: 100%;
       padding: 0 20px;
   }
   .blog-row-2{
       max-width: 100%;
   }
}

